:root {
    --text: #222222;
    --background: #EFF8CB;
    --primary: #e1f396;
    --secondary: #f0f8c9;
    --title: #015056;
    --accent: #f0d25c;
}

body {
    margin:0;
    padding:0;
    background: var(--background);
    overflow-y: hidden;
}

.container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    width: 100%;
    height: 75px;
    flex-shrink: 0;
    margin-bottom: 2%;

    background: var(--primary);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-title {
    display: flex;
    width: 100%;
    height: 75px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: 0;

    color: var(--title);
    text-align: center;
    font-family: Space Grotesk;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.question {
    width: 84%;
    flex-shrink: 0;
    margin: auto;
    margin-bottom: 25px;

    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}

.question-header {
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-shrink: 0;
    margin: 0;



    border-radius: 10px 10px 0px 0px;
    border-top: 1px solid var(--text);
    border-right: 1px solid var(--text);
    border-left: 1px solid var(--text);
    background: var(--background);
}

.timer {
    width: 100px;
    height: 53px;
    margin: 0;
    padding-top: 3px;

    color: var(--text);
    text-align: center;
    font-family: Urbanist;
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.qnumber {
    width: 200px;
    height: 53px;
    margin: 0;
    padding-top: 3px;

    color: var(--text);
    text-align: center;
    font-family: Urbanist;
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.question-body {
    height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 0px 0px 10px 10px;
    border: 1px solid var(--text);
    background: var(--primary);
}

.question-text {
    height: 222px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--text);
    text-align: center;
    font-family: Urbanist;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cards, .startbuttons{
    width: 84%;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}

.card, .startbutton {
    width: 23%;
    height: 250px;
    flex-shrink: 0;
    margin: 10px;

    border: 0;
    border-radius: 20px;
    background: var(--primary);
}

.card:focus, .startbutton:focus {
    background: var(--accent);
    transform: translateY(4px);
}

.card:hover, .startbutton:hover {
    background: var(--accent);
}


.card-text, .startbutton-text {
    display: flex;
    width: 100%;
    height: 250px;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;

    color: var(--text);
    text-align: center;
    font-family: Urbanist;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-text:hover{
    color: rgb(185, 22, 22);
    cursor: pointer;
    
}

.correct, .correct:hover, .correct:focus {
    background: #65FF75;
}

.correct .card-text {
    display: none;
}

.incorrect, .incorrect:hover, .incorrect:focus{
    background: #FF6A6A;
}

.incorrect .card-text {
    display: none;
}

svg {
    width: 120px;
    height: 120px;
}

.progress {
    width: 84%;
    height: 55px;
    margin: auto;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
}

.result {
    width: 55px;
    height: 55px;
    margin: 1%;
    border-radius: 20px;
    background: #E1F396;
    flex-shrink: 0;
}

.result-text {
    display: flex;
    margin: 0;
    width: 55px;
    height: 55px;
    flex-direction: column;
    justify-content: center;
    color: #222;
    text-align: center;
    font-family: Urbanist;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
}

.current-q {
    border: 1px solid #222;
}

/*Game start screen*/
.start .question-text{
    height: 380px;;
}

.start .question-body {
    height: 380px;
}

.start .cards {
    display: none;
}

.startbutton {
    width: 100%;
    height: 150px;
}

.startbutton-text {
    height: 150px;
}


@media only screen and (max-width: 768px) {
    /* För mindre skärmar: */
    .question {
        margin-bottom: 5%;
        width: 94%;
    }

    .cards {
        width: 94%;
        flex-direction: column;
        align-items: center;
    }

    .card {
        height: 80px;
        width: 100%;
    }

    .card-text {
        height: 80px;
    }

    svg {
        width: 60px;
        height: 60px;
    }

    .progress {
        height: 22px;
    }

    .result {
        width: 22px;
        height: 22px;
        border-radius: 0;
    }

    .result-text {
        display: none;
    }

    .question-text {
        font-size: 30px;
    }

    .start .question {
        margin-bottom: 2%;
    }

    .startbuttons {
        margin-top: 5%;
    }
  }